#titlecalendar {
    margin-top: 70px;
    float: left;
}

#titlecalendar #titlepage-calendar {
    text-align: left;
    font-size: 36px;
    margin-left: 100px;
}

#titlecalendar #calendar-line {
    width: 55%;
    background-color: #c4cece;
    border-color: #e6f4f3;
    border-style: solid;
    margin-top: -40px;
    margin-left: 100px;
}

#calendarpage {
    display: flex;
    margin-bottom: 1em;
}

#calendarpage .maincalendar {
    margin-top: 0.3;
    margin-left: 50px;
    width: 70%;
    float: left;
}

#calendarpage .maincalendar .calendar {
    border: 3px solid #e6f4f3;
}

#calendarpage .maincalendar .calendar .invisible {
    display: none;
}

#calendarpage .maincalendar .calendar header {
    display: flex;
}

#calendarpage .maincalendar .calendar header a {
    line-height: 5em;
    margin: 0 2em;
    flex: 1;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#calendarpage .maincalendar .calendar header a.next {
    text-align: right;
}

#calendarpage .maincalendar .calendar header h1 {
    text-align: center;
}

#calendarpage .maincalendar .calendar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#calendarpage .maincalendar .calendar ul li {
    float: left;
    width: 14.28571%;
}

#calendarpage .maincalendar .calendar ul.calendar-days li {
    height: 5em;
    overflow: hidden;
}

#calendarpage .maincalendar .calendar ul.calendar-days li:nth-child(2n) {
    background-color: #eee;
}

#calendarpage .maincalendar .calendar ul.calendar-days li.disabled {
    background-color: #ccc;
}

#calendarpage .maincalendar .calendar ul.calendar-days li span {
    float: right;
    margin: 1em;
}

#calendarpage .calendar-tasks {
    width: 20%;
    float: left;
    border: 3px solid #e6f4f3;
    margin-left: 2em;
}

#calendarpage .calendar-tasks .calendar-todo #titlepage-calendar {
    text-align: center;
    font-size: 25px;
}

#calendarpage .calendar-tasks .calendar-todo #calendar-line {
    width: 80%;
    margin-top: -1em;
    border-color: #e6f4f3;
    border-style: solid;
}

#calendarpage .calendar-tasks #todo {
    height: 78%;
    margin-left: 0.5em;
    overflow: auto;
    scroll: hidden;
}

#calendarpage .calendar-tasks #todo img {
    width: 3em;
    float: left;
}

#calendarpage .calendar-tasks #todo #unit-time {
    float: left;
}

#calendarpage .calendar-tasks #todo #unit-time h1 {
    font-size: 18px;
    margin-top: -0em;
}

#calendarpage .calendar-tasks #todo #unit-time p {
    margin-top: -1em;
}

#calendarpage .calendar-tasks #buttonnewsubject {
    display: flex;
    margin-left: 1em;
}

#calendarpage .calendar-tasks #buttonnewsubject #newsubject {
    border: none;
    text-align: center;
    background-color: #165f6d;
    padding: 7px;
    color: #e6f4f3;
}

#calendarpage .calendar-tasks #newsubject:hover {
    box-shadow: 2px 2px 2px #748b8b;
}

@media only screen and (max-width: 800px) {
    #titlecalendar {
        margin-top: 70px;
        float: left;
    }
    #titlecalendar #titlepage-calendar {
        text-align: left;
        font-size: 36px;
        margin-left: 100px;
    }
    #titlecalendar #calendar-line {
        width: 55%;
        background-color: #c4cece;
        border-color: #e6f4f3;
        border-style: solid;
        margin-top: -40px;
        margin-left: 100px;
    }
    #calendarpage {
        display: inline !important;
        margin-bottom: 1em;
    }
    #calendarpage .maincalendar {
        margin-top: 0.3;
        margin-left: 50px;
        width: 70%;
        float: left;
    }
    #calendarpage .maincalendar .calendar {
        border: 3px solid #e6f4f3;
    }
    #calendarpage .maincalendar .calendar .invisible {
        display: none;
    }
    #calendarpage .maincalendar .calendar header {
        display: flex;
    }
    #calendarpage .maincalendar .calendar header a {
        line-height: 5em;
        margin: 0 2em;
        flex: 1;
        text-decoration: none;
        color: black;
        font-weight: bold;
    }
    #calendarpage .maincalendar .calendar header a.next {
        text-align: right;
    }
    #calendarpage .maincalendar .calendar header h1 {
        text-align: center;
    }
    #calendarpage .maincalendar .calendar ul {
        list-style: none;
        padding: 0;
        margin: 0;
        overflow: hidden;
    }
    #calendarpage .maincalendar .calendar ul li {
        float: left;
        width: 14.28571%;
    }
    #calendarpage .maincalendar .calendar ul.calendar-days li {
        height: 5em;
        overflow: hidden;
    }
    #calendarpage .maincalendar .calendar ul.calendar-days li:nth-child(2n) {
        background-color: #eee;
    }
    #calendarpage .maincalendar .calendar ul.calendar-days li.disabled {
        background-color: #ccc;
    }
    #calendarpage .maincalendar .calendar ul.calendar-days li span {
        float: right;
        margin: 1em;
    }
    #calendarpage .calendar-tasks {
        width: 70% !important;
        float: left;
        border: 3px solid #e6f4f3;
        margin-left: 3em !important;
        margin-top: 10% !important;
    }
    #calendarpage .calendar-tasks .calendar-todo #titlepage-calendar {
        text-align: center;
        font-size: 25px;
    }
    #calendarpage .calendar-tasks .calendar-todo #calendar-line {
        width: 80%;
        margin-top: -1em;
        border-color: #e6f4f3;
        border-style: solid;
    }
    #calendarpage .calendar-tasks #todo {
        height: 78%;
        margin-left: 0.5em;
        overflow: auto;
        scroll: hidden;
    }
    #calendarpage .calendar-tasks #todo img {
        width: 3em;
        float: left;
    }
    #calendarpage .calendar-tasks #todo #unit-time {
        float: left;
    }
    #calendarpage .calendar-tasks #todo #unit-time h1 {
        font-size: 18px;
        margin-top: -0em;
    }
    #calendarpage .calendar-tasks #todo #unit-time p {
        margin-top: -1em;
    }
    #calendarpage .calendar-tasks #buttonnewsubject {
        display: flex;
        margin-left: 1em;
    }
    #calendarpage .calendar-tasks #buttonnewsubject #newsubject {
        border: none;
        text-align: center;
        background-color: #165f6d;
        padding: 7px;
        color: #e6f4f3;
        margin-bottom: 5% !important;
    }
    #calendarpage .calendar-tasks #newsubject:hover {
        box-shadow: 2px 2px 2px #748b8b;
    }
}
