#titlelogin {
    margin-top: 70px;
}

#titlelogin #titlepage-login {
    text-align: center;
    font-size: 36px;
}

#loginboxes {
    display: flex;
    width: 100%;
    height: 15em;
    margin-top: 1em;
}

#loginboxes .left-boxes {
    width: 23%;
    margin-left: 23%;
}

#loginboxes .left-boxes #firstbox {
    border-color: #e6f4f3;
    border-style: solid;
    width: 100%;
}

#loginboxes .left-boxes .input-pair {
    position: relative;
}

#loginboxes .left-boxes .input-pair #input-email {
    font-size: 15px;
    color: black;
    background-color: #c4cece;
    border: solid 3px #e6f4f3;
    width: 87%;
    height: 20px;
    padding: 3px;
    margin-top: 16px;
    text-align: left;
    display: inline-block;
    margin-left: 4.5%;
}

#loginboxes .left-boxes .input-pair #input-password {
    font-size: 15px;
    color: black;
    background-color: #c4cece;
    border: solid 3px #e6f4f3;
    width: 87%;
    height: 20px;
    padding: 3px;
    margin-top: 16px;
    text-align: left;
    display: inline-block;
    margin-left: 4.5%;
    z-index: 1000;
}

#loginboxes .left-boxes .input-pair #forgothref {
    display: block;
    text-decoration: none;
    color: black;
    position: absolute;
    z-index: 1002;
    line-height: 20px;
    top: 22px;
    right: 8%;
}

#loginboxes .left-boxes .input-pair #forgothref:hover {
    color: #4952a2;
    text-decoration: underline;
}

#loginboxes .left-boxes .button-login button {
    text-align: center;
    background-color: #165f6d;
    border: none;
    color: #e6f4f3;
    width: 90%;
    padding: 0.4em;
    margin-left: 4.5%;
    margin-top: 0.7em;
    margin-bottom: 0.7em;
}

#loginboxes #noaccount {
    font-size: 16px;
    color: #040707;
    border-color: #e6f4f3;
    border-style: solid;
    width: 100%;
    height: 55px;
    margin-top: 16px;
    text-align: center;
    padding-bottom: 2px;
}

#loginboxes #noaccount p {
    text-align: center;
}

#loginboxes #noaccount p a {
    text-decoration: none;
    color: #4952a2;
}

#loginboxes #right-box {
    color: #e6f4f3;
    text-align: center;
    height: 150px;
    border-color: #e6f4f3;
    border-style: solid;
    background-color: #c4cece;
    width: 24%;
    text-decoration: none;
    margin-top: 3em;
    margin-left: 6%;
}

#loginboxes #right-box #other-accounts {
    padding-top: 10px;
    font-size: 16px;
    color: #040707;
}

#loginboxes #right-box #button-fb {
    text-align: center;
    width: 9.5em;
    height: 2em;
    background-color: #4d4dff;
    border: none;
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 4px;
    margin-top: 1em;
}

#loginboxes #right-box #button-fb span {
    font-family: proximanovalight;
}

#loginboxes #right-box #button-google {
    text-align: center;
    width: 9.5em;
    height: 2em;
    background-color: white;
    color: black;
    text-decoration: none;
    font-size: 16px;
    padding: 4px;
    margin-top: 1em;
    border: none;
}

#loginboxes #right-box #button-google span {
    font-family: proximanovalight;
}

#loginboxes #right-box #noaccount4app {
    display: none;
}

@media only screen and (max-width: 800px) {
    #menu {
        display: none;
    }
    #titlelogin {
        margin-top: 30px !important;
    }
    #titlelogin #wrap {
        position: relative;
        margin-left: 63%;
    }
    #titlelogin #wrap #logo4app {
        background: url("../images/logo.png");
        height: 80px;
        width: 60px;
        background-size: cover;
        background-position: center;
        position: absolute;
        left: -50%;
    }
    #titlelogin #titlepage-login {
        text-align: center;
        font-size: 36px;
        margin-top: 90px;
    }
    #loginboxes {
        display: inline !important;
        width: 50% !important;
        height: auto !important;
        margin-top: 0em !important;
        margin-left: 25%;
    }
    #loginboxes .left-boxes {
        width: 100% !important;
        margin-left: 0px !important;
        border-bottom: 2px solid white;
    }
    #loginboxes .left-boxes #firstbox {
        border-color: #c4cece !important;
        border-style: solid;
        width: 100%;
    }
    #loginboxes .left-boxes .input-pair {
        position: relative;
    }
    #loginboxes .left-boxes .input-pair #input-email {
        font-size: 15px;
        color: black;
        background-color: #c4cece;
        border: solid 3px #e6f4f3;
        height: 20px;
        padding: 3px;
        margin-top: 16px;
        text-align: center !important;
        display: inline-block;
        margin-left: 3% !important;
    }
    #loginboxes .left-boxes .input-pair #input-password {
        font-size: 15px;
        color: black;
        background-color: #c4cece;
        border: solid 3px #e6f4f3;
        height: 20px;
        padding: 3px;
        margin-top: 16px;
        text-align: center !important;
        display: inline-block;
        margin-left: 3% !important;
        z-index: 1000;
    }
    #loginboxes .left-boxes .input-pair #forgothref {
        display: none !important;
        text-decoration: none;
        color: black;
        position: absolute;
        z-index: 1002;
        line-height: 20px;
        top: 22px;
        right: 8%;
    }
    #loginboxes .left-boxes .input-pair #forgothref:hover {
        color: #4952a2;
        text-decoration: underline;
    }
    #loginboxes .left-boxes .button-login button {
        text-align: center;
        background-color: #165f6d;
        border: none;
        color: #e6f4f3;
        width: 90%;
        padding: 0.4em;
        margin-left: 3% !important;
        margin-top: 0.7em;
        margin-bottom: 0.7em;
    }
    #loginboxes #noaccount {
        display: none;
        font-size: 16px;
        color: #040707;
        border-color: #c4cece !important;
        border-style: solid;
        width: 100%;
        height: 55px;
        margin-top: 16px;
    }
    #loginboxes #noaccount p {
        text-align: center;
    }
    #loginboxes #noaccount p a {
        text-decoration: none;
        color: #4952a2;
    }
    #loginboxes #right-box {
        color: #e6f4f3;
        text-align: center;
        height: 150px;
        border-color: #c4cece !important;
        border-style: solid;
        background-color: #c4cece;
        width: 90% !important;
        text-decoration: none;
        margin-top: 0em !important;
        margin-left: 3% !important;
    }
    #loginboxes #right-box #other-accounts {
        display: none;
        padding-top: 10px;
        font-size: 16px;
        color: #040707;
    }
    #loginboxes #right-box #button-fb {
        text-align: center !important;
        width: 100% !important;
        height: 2em;
        background-color: #4d4dff;
        border: none;
        color: white;
        text-decoration: none;
        font-size: 16px;
        padding: 4px !important;
        margin-top: 1em;
    }
    #loginboxes #right-box #button-fb span {
        font-family: proximanovalight;
    }
    #loginboxes #right-box #button-fb i {
        width: 10%;
    }
    #loginboxes #right-box #button-google {
        text-align: center;
        width: 100% !important;
        height: 2em;
        background-color: white;
        color: black;
        text-decoration: none;
        font-size: 16px;
        padding: 4px !important;
        margin-top: 1em;
        border: none;
    }
    #loginboxes #right-box #button-google span {
        font-family: proximanovalight;
    }
    #loginboxes #right-box #button-google i {
        width: 10%;
    }
    #loginboxes #right-box #noaccount4app {
        display: inline !important;
        font-size: 16px;
        color: #040707;
        border-color: #c4cece !important;
        border-style: solid;
        width: 100%;
        height: 55px;
        margin-top: 0px;
    }
    #loginboxes #right-box #noaccount4app p {
        text-align: center;
    }
    #loginboxes #right-box #noaccount4app p a {
        text-decoration: none;
        color: #4952a2;
    }
}
